<div class="node-tree">
  <div *ngIf="model?.nodeTitle==='##root##'">
    <ul>
      {{model.nodeQuantity}}
    </ul>
  </div>
  <ng-container  *ngFor="let child of model?.child;let i = index">
    <ul>
      <span class="node-tree__indicator" [ngClass]="{'orange-color' : child.nodeQuantity <= 2}">
      <span>
        + -
      </span> {{child.nodeQuantity}}{{child.nodeQuantity < 2 ? '   ' + ' (' + child.nodeTitle + ') ' : ''}}
    </span>
      <app-tree-node [model]="child">

      </app-tree-node>
    </ul>
  </ng-container>
</div>
